*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

body{
    font-size: 1rem;
    background-color: #333;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.calculator{
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
    height: 410px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gap{
    background-color: #333;
}

.btn{
    font-size: 1.2rem;
    padding: 1.2rem 1.8rem;
    background-color: #333;
    border: none;
    color: #f7f7f7;
    cursor: pointer;
}

.btn:hover{
    background-color: #4a4a4a;
}

.equal{
    background-color: #E62E51;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start:  4;
    grid-row-end: span 5;
}

.equal:hover{
    background-color: #E62E51;
}

#displayed-data{
    width: 100%;
    font-size: 1.4rem;
    padding: 1.2rem 0.8rem;
    border: none;
    background-color: #f7f7f7;
    cursor: default;
}

#displayed-data:focus{
    outline: none;
}